bot.log
__pycache__/
export.csv
bo_test.py
env/
feles.py
lesson1_dictionaries.py
lesson1_dictionaries_lists.py
lesson1_dictionaries_lists1.py
lesson1_dictionaries_lists2.py
lesson1_dictionaries_lists3.py
lesson1_function.py
lesson1_function1.py
lesson1_number.py
lesson1_string.py
lesson1_types.py
lesson2_exceptions.py
lesson2_exceptions2.py
lesson2_operator_for.py
lesson2_operator_for1.py
lesson2_operator_if.py
lesson2_operator_if2.py
lesson2_operator_while.py
myfile.txt
referat.txt
referat2.txt